parameters:
    nats_host: "%env(NATS_HOST)%"
    nats_port: "%env(NATS_PORT)%"
    nats_user: "%env(NATS_USER)%"
    nats_pass: "%env(NATS_PASS)%"

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: "../src/"

    Basis\Nats\Configuration:
        arguments:
            $host: "%nats_host%"
            $port: "%nats_port%"
            $user: "%nats_user%"
            $pass: "%nats_pass%"

    Basis\Nats\Client:
        arguments:
            $configuration: '@Basis\Nats\Configuration'
